<main>


  <div class="row">
    <div class="ten columns">
      <img class="event-cover-image" ng-src="{{ vm.event.coverImage }}">
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="event-info">
        <img class="sml-avatar-owner" ng-src="{{ vm.event.owner }}">
        <h1>{{ vm.event.name }}</h1>
        <p>{{ vm.event.description }}</p>
        <h2>{{ vm.event.dateTime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</h2>
        <img src="../images/delete-icon.png"ng-click="vm.delete(vm.event)">
        <img src="../images/edit-icon.png" ui-sref="eventsEdit({ id: vm.event._id })">
        <!-- <button class="button-primary" ui-sref="eventsEdit({ id: vm.event._id })">Edit</button> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
        <hr>
      <div class="event-members">
        <img class="sml-avatar-owner" ng-src="{{ vm.event.owner.avatar }}">
        <img class="sml-avatar-attendee" ng-src=" {{ vm.event.attendees.avatar }}">
        <!-- Will need to change when we have an array of users -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <input type="text" class="search" ng-model="chosenPlace" googleplace/>
    </div>
    <div class="twelve columns">
      <div class="event-map">
        <google-map center="{ lat: vm.event.location.lat, lng: vm.event.location.lng }"></google-map>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="event-comments">
        <ul>
          <li ng-repeat="comment in vm.event.comments track by $index">
            <p class="comments-bubble">{{ comment.content }} </p>
            <!-- <p>{{ comment.timeStamp | am-time-ago: 'dddd, MMMM Do YYYY, h:mm a' }}</p> -->
            <img src="../images/delete-icon.png" ng-click="vm.deleteComment(comment)">
          </li>
        </ul>
        <form ng-submit="vm.createComment()">
          <img src="../images/chat-icon.png">
          <input name="content" type="text" placeholder="Getting ready" ng-model="vm.comment.content">
          <button class="button-primary">Post a comment</button>
          <!-- <h2>{{ comment.timeStamp |  amDifference : null : 'hours' }}</h2> -->
        </form>
        <button class="button-primary" ng-click="vm.joinEvent()">Join event</button>
      </div>
    </div>
  </div>
</main>
