

<h1>Create new event</h1>
{{ vm.event }}
  <form ng-submit="vm.submit(vm.event)">

  <div>
    <label for="image">Upload Image:</label>
    <button name="image" id="image" ng-model="vm.event.coverImage" ng-click="vm.pickFile($event)">Pick</button>
  </div>

  <div>
    <label for="name">Name of the event:</label>
    <input type="text" name="name" ng-model="vm.event.name" required>
  </div>

  <div>
    <label for="dateTime">Date and time:</label>
    <input type="datetime-local" name="name" ng-model="vm.event.dateTime">
  </div>

  <div>
    <label for="description">Description of the event:</label>
    <input type="description" name="description" ng-model="vm.event.description">
  </div>

  <div>
    <label for="type">Type of event:</label>
    <input type="text" name="type" id="type" ng-model="vm.event.type">
  </div>


  <!-- <div class="event-members">
    <img class="sml-avatar-owner" ng-src="{{ vm.event.owner }}">
    <img class="sml-avatar-attendee" ng-src=" {{ vm.event.attendees }}">
  </div> -->


  <div>
    <input type="submit" value="Create">
  </div>
</form>
