<div class="intro-background">
  <img class="wrap eventlogo" src="../images/outpopped.png" alt="outlogo">
  <p>Welcome to Out, please join or<br> make an event to get started!</p>
</div>
<div class="row">
  <div class="twelve columns">
    <ul>
      <li class="inline" ng-repeat="event in vm.events track by $index">
        <img class="index-image" ng-src="{{ event.coverImage }}">
        <div class="index-content">
          <h2>{{ event.dateTime | amDateFormat: 'MMM Do' }}</h2>
          <h1>{{ event.name}}</h1>
          <button class="show-button" ui-sref="eventsShow({ id: event._id })">View Event</button>
        </div>
      </li>
    </ul>
  </div>
</div>
