<div class="row">
  <div class="twelve columns">
    <!-- <img class="event-cover-image" ng-src="{{ vm.event.coverImage }}"> -->

  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <img class="event-cover-image under" ng-src="{{ vm.event.coverImage }}">
      <img class="lrge-avatar over" ng-src="{{ vm.event.owner.avatar }}">
</div>
</div>
<div class="row">
  <div class="twelve columns">
      <div class="event-info">
      <h1>{{ vm.event.name }}</h1>
      <p>{{ vm.event.description }}</p>
      <h2>{{ vm.event.dateTime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</h2>
      <button class="button-primary" ng-click="vm.joinEvent()">Join event</button>

      <img src="../images/delete-icon-thick.png" ng-click="vm.delete(vm.event)">
      <img src="../images/edit-button.png" ui-sref="eventsEdit({ id: vm.event._id })"> -->
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="event-members">
      <img class="sml-avatar-owner" ng-src="{{ vm.event.owner.avatar }}">
      <img ng-repeat="attendee in vm.arrOfAttendees" class="sml-avatar-attendee" ng-src=" {{ attendee.avatar }}">
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <input type="text" class="search" ng-model="chosenPlace" googleplace/>
  </div>
  <div class="twelve columns">
    <div class="event-map">
      <google-map center="{ lat: vm.event.location.lat, lng: vm.event.location.lng }"></google-map>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="event-comments">
      <ul>
        <li ng-repeat="comment in vm.event.comments track by $index">
          <p class="comments-bubble">{{ comment.content }} </p>
          <img src="../images/delete-icon-thick.png" ng-click="vm.deleteComment(comment)">
        </li>
      </ul>
      <form ng-submit="vm.createComment()">
        <img src="../images/chats-white.png">
        <input name="content" type="text" placeholder="Getting ready" ng-model="vm.comment.content">
        <button class="button-primary">Post a comment</button>
      </form>
    </div>
  </div>
</div>
</main>
