<h1>Register</h1>
{{ vm.user }}
<form ng-submit="vm.submitForm()">
  <div>
    <label for="firstName">Your firstname:</label>
    <input type="text" name="firstName" ng-model="vm.user.firstName" required>
  </div>
  <div>
    <label for="lastName">Your lastname:</label>
    <input type="text" name="lastName" ng-model="vm.user.lastName" required>
  </div>
  <div>
    <label for="email">Your email address:</label>
    <input type="text" name="email" ng-model="vm.user.email" required>
  </div>
  <div>
    <label for="avatar">Your avatar (optional):</label>
    <input type="text" name="avatar" ng-model="vm.user.avatar">
  </div>
  <div>
    <label for="password">Your password:</label>
    <input type="password" name="password" ng-model="vm.user.password" required>
  </div>
  <div>
    <label for="passwordConfirmation">Confirm your password:</label>
    <input type="password" name="passwordConfirmation" ng-model="vm.user.passwordConfirmation" required>
  </div>
  <div>
    <input type="submit" value="Register">
  </div>
</form>
