<div class="imageContainer">
  <div class="imageContent">

    <div class="bigbox">
      <div class="profilebox">
        <section>
          <div class="row">
            <div class="twelve columns">
              <img class="lrge-avatar" src="{{ vm.user.avatar }}">
              <p>{{ vm.user.firstName }} {{ vm.user.lastName }}</p>
              <p>Email: {{ vm.user.email }}</p>
              <button class="button-primary" ui-sref="usersEdit({ id: vm.user.id })">Edit</button>
            </div>
          </div>
        </section>

      </div>
      <div class="reginfobox">

      </div>
    </div>
  </div>
</div>
