<div class="imageContainer">
  <div class="imageContent">
    <div class="bigbox">
      <div class="mainbox">
        <img class="logobox" ng-src="../images/outpopped.png" alt="outlogo">
        <hr>
        <a class="lightbuttons" ui-sref="login">Log in</a>
        <br>
        <a class="lightbuttons" ui-serf="register">Register</a>
        <p class="subtitle">Welcome to <strong>Out?</strong>
          <br> The Nightlife tracker Site
        </p>
      </div>
      <div class="picbox">

      </div>
    </div>
  </div>
</div>
