@import 'variables';

.sml-avatar-owner {
  border-radius: 50%;
  width: 50px;
  padding: 4px;
  border: 3px solid $avatar-owner-bg-color;
}

.sml-avatar-attendee {
  border-radius: 50%;
  width: 50px;
  padding: 4px;
  border: 1px solid $avatar-attendee-bg-color;
}

.lrge-avatar {
    border-radius: 50%;
    width: 100px;
    padding: 20px;
    text-align: center;

}
