.avatar-slider {
max-width: 100%;
height: 100px;
background-color:pink;
border: 2px solid black;
}

.avatar-box {
  width: 50px;
  height: 50px;
  background-color: red;
  border: 2px solid black;
  display: inline-block;
  margin: 25px;
}
