@import 'variables';

.button-primary {
  background-image: linear-gradient(19deg, $button-bg-color 0%, $button-gradient-color 100%);
  border: none;
}

.button-join {
  background-image: linear-gradient(19deg, red 0%,  yellow 100%);
}
