@import 'variables';

.event-cover-image {
    max-width: 100%;
}

.names {
  text-align: center;
}

.event-members {
  margin: 2rem;
  padding: 4px;
}

.event-info {
  img {
    width: 30px;
    height: 30px;
  }

}

.event-comments {
  img {
     width: 20px;
     height: 20px;
     padding: 2px;
     vertical-align: middle;
  }

  ul {
    li {
      width: 100%;
      vertical-align:middle;
      margin-bottom: 2rem;

      p {
        margin-bottom: 0.5rem;
        // width: 50%;
        // padding: 4p
      }

      .comment-time {
        font-size: x-small; 
      }
    }
  }
}

p.comments-bubble {
  display: inline-block;
  width: 50%;
  margin: 0px auto;
  border-radius: 5px;
  background: linear-gradient(19deg, $button-bg-color 0%, $button-gradient-color 100%);
  color: #fff;
  padding: 5px;
  font-size: smaller;
  text-align: center;
  position: relative;

}

hr {
  width: 60%;
  margin-bottom: 0;
  border-width: 0;
  border-top: 1px solid #fafafa;
}
