@import 'variables';

.event-cover-image {
    max-width: 100%;
    max-height: 100%;
}

.names {
  text-align: center;
}

.event-members {
  margin: 2rem;
  padding: 4px;
}

.event-comments {
  img {
     width: 30px;
     height: 30px;
  }

  ul {
    li {
      width: 100%;
      vertical-align:middle;

      p {
        width: 50%;
      }
    }
  }
}

p.comments-bubble {
  margin: 50px auto;
  border-radius: 15px;
  background: linear-gradient(19deg, $button-bg-color 0%, $button-gradient-color 100%);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;

}

hr {
  width: 60%;
  margin-bottom: 0;
  border-width: 0;
  border-top: 1px solid #fafafa;
}
