@import 'variables';

body {
  background: $primary-bg-color;
  color: $primary-text-color;
  text-align: center;
  font-family: $font-family;
  h1 {
    font-size: $h1;
    padding: 10px;
  }
  h2 {
    font-size: $h2;
  }
  h3 {
    font-size: $h3;
  }
}

li {
  list-style: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
