@import 'variables';

.imageContainer {
  height: 100%;
  width: 100%;
}

.imageContent{
  background-image: linear-gradient(19deg, $button-bg-color 0%, $button-gradient-color 100%);
  background-size: auto 100%;

}




  .mainbox {
  height: 500px;
  width: 300px;
  background-image: linear-gradient(19deg, #282831 0%, #262626 100%);

  display: inline-block;
  margin: 30px 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  text-align: center;
  position:relative;
  z-index: 2;
  font-family: $font-family;
  }

  .picbox {
  height: 500px;
  width:300px;
  display: inline-block;
  background-image: url('../images/purpledrank.png');
  margin: 30px 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  text-align: center;
  position:relative;
  left: 300px;
  z-index: 1;
  display: none;
  }
  @media screen and (min-width: 480px) {
    .picbox {
      display: inline-block;
    }
    .mainbox {
      position: absolute;
    }
}

  .logobox {
    margin: 40px 0 0 0;
    width: auto;
    height: 100px;
    text-align: center;
  }

  hr {
    opacity: 0.5;
  }

  .subtitle {
  font-weight:lighter;
  margin: 5em 0 0 0;
  }
