@import 'variables';

.image-container {
  height: 100%;
  width: 100%;
}

.home-background {
  // added styles
    background: url("https://www.teme.fi/wp-content/uploads/2017/11/istock-jengi-momcilog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

  .mainbox {
  height: 500px;
  width: 300px;
  background: rgba(0, 0, 0, 0.8);
  // background-image: linear-gradient(19deg, #282831 0%, #262626 100%);

  display: inline-block;
  margin: 30px 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.8);
  text-align: center;
  position:relative;
  z-index: 2;
  font-family: $font-family;

  }

  .logobox {
    margin: 40px 0 0 0;
    width: auto;
    height: 100px;
    text-align: center;
  }

  hr {
    opacity: 0.5;
  }

  .subtitle {
  font-weight:lighter;
  margin: 1em 0 0 0;
  }
