

$primary-bg-color: white;
$primary-text-color: black;
$primary-link-color: orange;

$secondary-bg-color: beige;
$secondary-text-color: grey;
$secondary-link-color: teal;


$primary-font: 'Helvetica', sans-serif;
$secondary-font: 'times new roman', sans-serif;
